<% include header.html %>
	<script src="/js/jquery.Jcrop.min.js"></script>
	<script src="/js/ajaxfileupload.js"></script>
	<link rel='stylesheet' href='/css/jquery.Jcrop.min.css'/>
	<div class="row userCenter pgcontent">
		<div class="col-md-8">
			<div class="profile-hd clearfix">
				<div class="profile-info zg-clear">
					<a href="/u/<%= json.username %>" class="zg-link-litblue pull-right">返回个人主页</a>
					<p class="profile-mbox-title"><a href="/u/<%= json.username %>"><%= json.username %></a> » <a href="/people/uedit">编辑个人资料</a> » 修改密码</p>
				</div>
				<form method="post" class='profile-form' id="passwordForm" action="/setting/Rpassword">

					<div class="profile-module clearfix">
						<div class="profile-password form-group">
							<input type="password" autocomplete="off" class="form-control " name="password" id="password" placeholder="新密码">
              <input type="password" autocomplete="off" class="form-control repassword" name="Rpassword" id="Rpassword" placeholder="再次输入">
						</div>
					</div>

					<div class="profile-module clearfix">
						<h5></h5>
						<div class="profile-module-desc">
							<input type="submit" class="btn btn-save-password btn-primary" value="确定修改">
						</div>
					</div>
				</form>
			</div>
		</div>
    <% if(pic.length > 0){ %>
      <div class="col-md-4 slide-rd slide-rd2 user-center">
        <% include lauds.html %>
      </div>
    <% } %>
	</div>
	<div class="avatar-edit-layort">
		<div class="avatar-edit-box">
			<img id="avatar-Jcrop" src=""  >
			<div class="clearfix crop-mate">
				<input type="submit" class="btn btn-crop btn-primary  pull-right" value="确定">
				<a href="#" class="cance-crop pull-right">取消</a>
			</div>
		</div>
	</div>

<% include footer.html %>